LAMBDA_HOST=
LAMBDA_USER=ubuntu
RUNPOD_USER=root
RUNPOD_SSH_HOST=ssh.runpod.io
RUNPOD_SSH_PORT=22
SSH_KEY=~/.ssh/lambda_key
DOCENT_API_KEY=
PAPER_NAME=""
RESEARCHER=""
ML_DOCKER_IMAGE=ashetty21/ml-gpu:latest
ML_CONTAINER_NAME=rct-ml-eval
NON_ML_DOCKER_IMAGE=ashetty21/non-ml:latest
NON_ML_CONTAINER_NAME=rct-eval
MODE=gpu
DOCENT_COLLECTION=berkeley-pilot
